.form {
    background-color: white;
    width: 250px;
    border-radius: 3px;
    padding: 5px 10px;
}


.form div {
    margin-bottom: 20px;
}


.form input {
    width: 100%;
    outline: none;
    padding: 5px 10px;
    border: 1px solid black;
}


.form img {
    border-radius: 2px;
    height: 50px;
    width: 50px;
}